<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}
    <div class="layout-content">
      {{ page. }}
    </div>{# /.layout-content #}



  </main>

  {% if page.footer %}
    <footer role="contactinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}